@import "~bourbon/app/assets/stylesheets/bourbon";

.container {
  margin-right: auto;
  margin-left: auto;
  font-family: arial, sans-serif;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    clear: both;
  }

  @media (min-width: 480px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (min-width: 768px) {
    width: 750px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media (min-width: 992px) {
    width: 970px
  }
  @media (min-width: 1200px) {
    width: 1170px
  }
  @media (min-width: 1750px) {
    width: 1710px;
  }
}

.project {
  overflow: hidden;
  position: relative;
  float: left;
  width: 45%;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 2px;
  border: 1px solid rgba(150, 150, 150, 0.3137254901960784);
  background-color: rgb(242, 242, 242);
  background-position: 50% 34px;
  background-repeat: no-repeat;
  transition: all 0.3s linear;

  @media (max-width: 480px) {
    background-image: none !important;
  }

  @media (min-width: 480px) {
    width: 22.3%;
    height: 160px;
  }

  @media (min-width: 768px) {
    width: 150px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  @media (min-width: 992px) {
    width: 162px;
    height: 162px;
  }
  @media (min-width: 1200px) {
    width: 145px;
    height: 163px;
  }
  @media (min-width: 1750px) {
    width: 148px;
  }

  &:hover {
    border-color: rgba(150, 150, 150, 1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .project_buttons {
      transform: translateY(0);
    }
  }

  &_copy {
    position: absolute;
    top: 50px;
    color: transparent;
  }

  &_buttons {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 5px 0;
    background-color: rgb(242, 242, 242);
    transition: transform 0.3s linear;
    text-align: center;

    @media (min-width: 480px) {
      display: block;
    }

    @media (min-width: 1200px) {
      transform: translateY(100%);
    }

    > a {
      float: left;
      display: block;
      width: 25%;
      transition: all 0.3s linear;

      &::before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        padding: 5px;
        background-color: rgb(242, 242, 242);
        font-size: 12px;
        color: #000;
        box-sizing: border-box;
        transition: opacity 0.3s linear;
        opacity: 0;
        pointer-events: none;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
        svg{
          filter:drop-shadow(0 0 5px rgba(0,0,0,0.4));
        }
      }

      &[href*=not_active] {
        display: none;
      }
    }
  }
  &__name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    background-color: rgb(242, 242, 242);
    font-size: 12px;
    color: #000;
    text-align: center;
    box-sizing: border-box;
    -webkit-mask-image: linear-gradient(to right, #000, #000, 150px, transparent);
  }

  &__link {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
  }
  svg {
    max-width: 20px;
    transition: all 0.3s linear;
  }
  a {
    text-decoration: none;
  }
}