@import '~flexboxgrid/dist/flexboxgrid.min.css';
@import '~tingle.js/dist/tingle.min.css';

.nav {
  position: relative;
  opacity: 0;
  transition: all 0.3s linear;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  ul {
    overflow: hidden;
    padding-left: 0;
    list-style: none;

    a {
      padding: 5px 15px;
      display: block;
      background: rgb(242, 242, 242);
      border: 1px solid rgba(150, 150, 150, 0.3137254901960784);
      text-align: center;
    }
  }

  .trigger {
    display: inline-block;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
}

.container {
  @media (min-width: 1600px) {
    max-width: inherit;
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}

main [class*='col-'] {
  @media (min-width: 1600px) {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}

.project {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 35px;
  margin-bottom: 0.9rem;
  border-radius: 2px;
  border: 1px solid rgba(150, 150, 150, 0.3137254901960784);
  background-color: rgb(242, 242, 242);
  background-position: 50% 34px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;

  @media (max-width: 480px) {
    background-image: none !important;
  }

  @media (min-width: 480px) {
    height: inherit;
    padding-bottom: 120%;
  }

  &:hover {
    border-color: rgba(150, 150, 150, 1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .project_buttons {
      transform: translateY(0);
    }

    .show-details {
      opacity: 1;
      pointer-events: all;
    }
  }

  &_copy {
    position: absolute;
    top: 50px;
    color: transparent;
  }

  &_buttons {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 5px 0;
    background-color: rgb(242, 242, 242);
    transition: transform 0.3s linear;
    text-align: center;

    @media (min-width: 480px) {
      display: block;
    }

    @media (min-width: 1200px) {
      transform: translateY(100%);
    }

    > a, button {
      float: left;
      display: block;
      width: 25%;
      border: none;
      background: transparent;
      transition: all 0.3s linear;
      cursor: pointer;

      &::before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        padding: 5px;
        background-color: rgb(242, 242, 242);
        font-size: 12px;
        color: #000;
        box-sizing: border-box;
        transition: opacity 0.3s linear;
        opacity: 0;
        pointer-events: none;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
        svg {
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
        }
      }
      &.active {
        svg {
          filter: drop-shadow(0 0 15px rgba(115, 0, 0, 1));
        }
      }

      &[href*=not_active] {
        display: none;
      }
    }
  }

  .show-details {
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 33px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background: rgb(242, 242, 242);
    transition: all 0.3s linear;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }

    svg {
      pointer-events: none;
    }
  }
  &__name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5px;
    background-color: rgb(242, 242, 242);
    font-size: 12px;
    color: #000;
    text-align: center;
    box-sizing: border-box;
    -webkit-mask-image: linear-gradient(to right, #000, #000, 150px, transparent);
  }

  &__link {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
  }
  svg {
    max-width: 20px;
    transition: all 0.3s linear;
  }
  a {
    text-decoration: none;
  }
}

.hidden {
  display: none !important;
}

section {
  position: absolute;
  width: 30vw;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 20px;
}

form, .path {
  width: 100%;
}

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  height: 47px;
  line-height: 47px;
}

input:focus {
  outline: none;
  border: 2px solid #000;
}

input[type=submit], button[type=submit] {
  width: 100%;
  background-color: transparent;
  border: 1px solid #000;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.result {
  padding: 10px;
}

.succes, .error {
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgba(darken(green, 1%), 0.1);
  border: 1px solid darken(green, 10%);
  color: darken(green, 10%);
}

.error {
  background-color: rgba(darken(red, 1%), 0.1);
  border: 1px solid darken(red, 10%);
  color: darken(red, 10%);
}

.text-center {
  text-align: center;
}

.tingle-modal__close {
  font-size: 3rem;
}

table {
  width: 100%;

  tr {
    background-color: rgb(242, 242, 242);

    &:nth-child(even) {
      background-color: transparent;
    }
  }
  td {
    padding: 10px;
  }
}

img {
  max-width: 100%;
}