@charset "UTF-8";

@import "bootstrap";

#content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  h1 {
    font-weight: 700;
  }
  .form-horizontal {
    margin-top: 13%;
    .form-group {
      position: relative;
      margin: 0;
      input[type=text] {
        font-size: 20px;
        height: 71px;
        padding-right: 85px;
      }
      button[name=optimize] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 34px;
        padding: 0 20px;
      }
      .checkbox{
        position: absolute;
        left: 0;
      }
    }
  }
  .progress{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin-bottom: 0;
    height: auto;
    z-index: -1;
    > span {
      display: block;
      font-size: 30px;
      font-weight: 700;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
